<footer>
  <div class="footer-map">
    <nav class="fo-logo">
      <p><img src="/src/img/ロゴ.png" alt=""></p>
      <h3>
        MITSUI&CO.<br>
        RECRUIT
      </h3>
    </nav>
    <nav class="footer-map2">
      <nav class="footer-map3">
        <div class="fo-cate">
          <p>Category</p>
          <p><a href="#"><%= cate.all %></a></p>
          <p><a href="#"><%= cate.company %></a></p>
          <p><a href="#"><%= cate.employee %></a></p>
          <p><a href="#"><%= cate.work %></a></p>
          <p><a href="#"><%= cate.environment %></a></p>
        </div>
        <div class="fo-pic">
          <p>Pickup</p>
          <p><a href="#"><%= pic.about %></a></p>
          <p><a href="#"><%= pic.DNA %></a></p>
          <p><a href="#"><%= pic.raise %></a></p>
          <p><a href="#">三井物産の人材像とキャリア開発</a></p>
        </div>
        <div class="fo-news">
          <p><a href="#">News</a></p>
          <p><a href="#">コーポレートサイト</a></p>
          <p><a href="#">個人情報保護方針</a></p>
        </div>
      </nav>
      <nav class="fo-rec">
        <p><%= rec.recruit %></p>
        <p><a href="#"><%= rec.career %></a></p>
        <p><a href="#"><%= rec.new %></a></p>
        <p><a href="#"><%= rec.intern %></a></p>
      </nav>
    </nav>
  </div>
  <aside class="fo-tag-btn">
    <div class="fo-tag">
      <p>Popular Tag</p>
      <ul>
        <li><%= Tag.career %></li>
        <li><%= Tag.new %></li>
        <li><%= Tag.carerec %></li>
        <li><%= Tag.culture %></li>
        <li><%= Tag.interview %></li>
        <li><%= Tag.system %></li>
      </ul>
    </div>
    <div class="fo-btn">
      <h4>募集要項</h4>
      <nav>
        <p><a href="#">キャリア採用募集要項</a></p>
        <p><a href="#">新卒採用募集要項</a></p>
      </nav>
    </div>
  </aside>
  <p class="copy">COPYRIGHT (C)2022 MITSUI & CO.LTD.ALL RIGHTS RESERVED</p>
</footer>